body {
  min-width: 1160px;

  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-style: normal;
  line-height: 24px;

  color: #000000;
  background-color: #ea704e ;
}
img {
  width: 100%;
  height: auto;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 5px;
}
